{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registr_and_login_styles.css')}}">
{% endblock %}
{% block content %}
    <div class="form_div">
        <h2>Вхід до аккаунту</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}<br>
            {{ form.password.label }}<br>
            {{ form.password(size=20) }}<br>
            <div class="submit_button_div">{{ form.submit() }}</div>
        </form>
    </div>
{% endblock %}