.project_information_div{
    width: 90%;
    margin-left: 5%;
    font-size: 18px;
}

.choose_button{
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    border: 2px solid black;
}


.choose_button:hover{
    transition-property: all;
    transition-duration: 0.5s;
    color: #f2f2f2;
    background: black;
}


.main_page_link{
    color: gray;
    display: block;
    margin-top: 3em;
}